{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "root": true,
  "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": { "project": ["./tsconfig.json"] },
  "plugins": [
      "@typescript-eslint"
  ],
  "rules": {
      "@typescript-eslint/strict-boolean-expressions": [
          2,
          {
              "allowString" : false,
              "allowNumber" : false
          }
      ],
      "react/jsx-filename-extension": [1, { "extensions": [".tsx"] }]
  },
  "ignorePatterns": ["src/**/*.test.ts"]
}