{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "root": true,
  "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended"
      //"plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "ignorePatterns": ["src/**/*.test.ts"]
}