//TODO Add explanation in readme
{
  "rewrites":  [
    {"source": "/(.*)", "destination": "/"}
  ],
  "crons":[
    {
      "path":"/api/iexec/new-proposal?key=racoonKey",
      "schedule":"0 */1 * * *"
    },
    {
      "type":"proposalValidated",
      "path":"/api/iexec/proposal-validated?key=racoonKey",
      "schedule":"0 */1 * * *"
    },
    {
      "type":"fundRelease",
      "path":"/api/iexec/fund-release?key=racoonKey",
      "schedule":"0 */1 * * *"
    },
    {
      "type":"review",
      "path":"/api/iexec/review?key=racoonKey",
      "schedule":"0 */1 * * *"
    },
    {
      "type":"newService",
      "path":"/api/iexec/new-service?key=racoonKey",
      "schedule":"0 */1 * * *"
    }
  ]
}