//TODO Add explanation in readme
{
  "rewrites":  [
    {"source": "/(.*)", "destination": "/"}
  ],
  "crons":[
    {
      "path":"/api/iexec/new-proposal?key=racoonKey",
      "schedule":"0 */1 * * *"
    }
  ]
}