@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont';
  src: url('../../public/fonts/Londrina_Solid/LondrinaSolid-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'LondrinaSolidShadow';
  src: url('../../public/fonts/Londrina_Solid/LondrinaShadow-Regular.ttf') format('truetype');
}
